<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GenScripts.Properties.Settings.myConnectionString"
      connectionString="www3" />
  </connectionStrings>
  <startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
