<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GenScripts.Properties.Settings.myConnectionString"
      connectionString="www3" />
    <add name="GenScripts.Properties.Settings.ServerName" connectionString="KONSTANTIN-PC\SQLEXPRESS14"
      providerName="" />
    <add name="GenScripts.Properties.Settings.DBName" connectionString="MatrixB"
      providerName="" />
  </connectionStrings>
  <startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
